<h1>Ask to your stupid coach</h1>
<form action="/answer" data-turbo="false" method="get" class="d-flex">
  <input type="text" class="form-control" name="question">
  <input type="submit" class="btn btn-primary" value="Ask!">
</form>
